<launch>

  <rosparam>
    my_controller1:
      type: my_controller_pkg/EffortTestController
    my_controller2:
      type: my_controller_pkg/EffortTestController
    my_controller3:
      type: my_controller_pkg/EffortTestController
      joints:
      - hiDOF_joint3
  </rosparam>

  <node pkg="my_controller_pkg" type="dummy_app" name="dummy_app"/>

	<node name="controller_spawner"
		pkg="controller_manager"
		type="spawner" 
		respawn="false"
		output="screen"
		ns="/" 
		args="joint_state_controller my_controller1"
	/>

</launch>
