# Ignore everything ...
/*

# ... but not this file ...
!/.gitignore

# ... and also these folders
!/mobile_description/
!/mobile_gazebo/
!/mobile_control/
!/mobile_navigation/
!/my_controller_pkg/
!/my_controller_msgs/
!/my_filter_pkg/
