<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="${cameraLength} 
                   ${cameraWidth} 
                   ${cameraHeight}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="${cameraLength} 
                   ${cameraWidth} 
                   ${cameraHeight}"/>
      </geometry>
      <material name="green"/>
    </visual>

    <inertial>
      <mass value="${cameraMass}" />
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <box_inertia m="${cameraMass}" 
                   x="${cameraLength}" 
                   y="${cameraWidth}" 
                   z="${cameraHeight}" />
    </inertial>

  </link>


  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${cameraOffsetX} 0 ${cameraOffsetZ}" 
            rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="camera_link"/>
  </joint>


  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${hokuyoOffsetX} 0 ${hokuyoOffsetZ}" 
            rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="hokuyo_link"/>
  </joint>


  <!-- Hokuyo Laser -->
  <link name="hokuyo_link">
    <collision>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mobile_description/meshes/hokuyo.dae"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mobile_description/meshes/hokuyo.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="${hokuyoMass}" />
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <box_inertia 
        m="${hokuyoMass}" 
        x="${hokuyoLength}" 
        y="${hokuyoWidth}" 
        z="${hokuyoHeight}"/>
    </inertial>

  </link>

</robot>
